body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.5;
}

.center {
    margin: 0px;
    padding: 0px;
    background-image: url(images/main\ box.svg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed; 
    background-position: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    width: 50%;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: center;
}

h1 {
    background-color: plum;
}

table img {
    width: 80%;
    height: 20%;
    border-radius: 3px;
}

table {
    width: 100%;
    height: 30%;
}

/* Style the side section */
#side {
    position: relative;
}

#side img {
    width: 815px;
}

.wrapper {
    display: flex;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: fit-content;
}

.main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.side-panel-toggle {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    color: #ffffff;
    background: #73128B;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    cursor: pointer;
}

.side-panel-toggle:hover {
    background: #D058E2;
}

.sp-icon-close {
    display: none !important;
}

.side-panel {
    display: none;
    width: 400px;
    flex-shrink: 0;
    padding: 20px;
    color: #ffffff;
    background: #73128B;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.side-panel-open .side-panel {
    display: initial;
}

.side-panel-open .sp-icon-open {
    display: none !important;
}

.side-panel-open .sp-icon-close {
    display: initial !important;
}