#container{
    margin: 0;
}

h1{
    color: #620a78;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
}

#ola, #ola a{
    display:flexbox;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    color: black;
    margin-left: 80px;
    margin-bottom: 17.6px;
}

#ola a:hover{
    text-decoration: underline;
    font-weight: bold;
    color: red;
}

#rules{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Align items to the left and right */
    align-items: center; /* Center items vertically */
}


